<!-- Starts up everything needed to run perlin_noise_node. -->
<launch>
  <!-- The C++ nao_pn_gen node will publish a message with perlinized motion. -->
  <node pkg="perlin_noise_node" type="nao_pn_gen" name="nao_pn_gen">
    <rosparam command="load" file="$(find perlin_noise_node)/launch/nao.yaml" />
  </node>

  <!-- Load default values into Filter Chain. Add additional/custom robot launch configs below -->
  <rosparam command="load" file="$(find perlin_noise_node)/launch/filter.yaml" />

  <!-- <include file="$(find perlin_noise_node)/launch/tools.launch"/> -->
</launch>
